<div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-nav mr-auto">
      <h2 class="text-muted">Budget</h2>
    </div>
    <div class="row">
      <div class="col-xl-3">
        <button class="btn btn-dark my-2 my-sm-0" (click)="openCreateSalary()">
          Salary
        </button>
      </div>
      <div class="col-xl-2">
        <button
          class="btn btn-dark my-2 my-sm-0"
          (click)="openCreateEstimatedExpense()"
        >
          <i class="fas fa-plus" aria-hidden="true"></i>
          Estimated Expense
        </button>
      </div>
    </div>
  </nav>
  <hr />
  <div class="row">
    <div class="col-xl-4 col-label">
      <strong> Monthly Salary: </strong>
    </div>
    <div class="col-info">{{ monthlySalary }}</div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-label">
      <strong> Monthly Expected Spared Money: </strong>
    </div>
    <div class="col-info">{{ monthlyTotalEstimatedSpare }}</div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-label">
      <strong> Monthly Total Expected Expense: </strong>
    </div>
    <div class="col-info">{{ monthlyTotalExpectedExpense }}</div>
    <ng-container *ngIf="displayBudgetDetails">
      <i
        class="fa fa-info-circle"
        type="button"
        placement="right"
        [ngbPopover]="expensesInfo"
        popoverTitle="Expected Expenses"
      ></i>
      <ng-template #expensesInfo>
        <div class="pop-over">
          <p *ngIf="isValueAvailable(budgetDineOut)">
            <b>Dine Out: </b> {{ budgetDineOut }}
          </p>
          <p *ngIf="isValueAvailable(budgetGift)">
            <b>Gift: </b>{{ budgetGift }}
          </p>
          <p *ngIf="isValueAvailable(budgetGrocery)">
            <b>Grocery: </b>{{ budgetGrocery }}
          </p>
          <p *ngIf="isValueAvailable(budgetHouse)">
            <b>House: </b>{{ budgetHouse }}
          </p>
          <p *ngIf="isValueAvailable(budgetMembership)">
            <b>Membership: </b> {{ budgetMembership }}
          </p>
          <p *ngIf="isValueAvailable(budgetOther)">
            <b>Other: </b>{{ budgetOther }}
          </p>
          <p *ngIf="isValueAvailable(budgetTransportation)">
            <b>Transportation: </b>{{ budgetTransportation }}
          </p>
          <p *ngIf="isValueAvailable(budgetTravel)">
            <b>Travel: </b>{{ budgetTravel }}
          </p>
        </div>
      </ng-template>
    </ng-container>
  </div>
  <hr />
  <app-expense-estimate-list #estimatedExpenseList></app-expense-estimate-list>
</div>
