mat-spinner {
  margin: auto;
}

.centeredForm {
  background-color: #2c3531;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 450px;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

.placeholder {
  color: #d9b08c;
}

.mat-form-field {
  color: #d1e8e2;
  width: 300px;
}

.required {
  color: #ffcb9a;
  padding-left: 5px;
}

.error {
  color: #ffcb9a;
}

.mat-raised-button {
  color: #d1e8e2;
  background-color: #116466;
  font-size: large;
  max-width: 150px;
}

.mat-raised-button:hover {
  color: #116466;
  background-color: #d1e8e2;
}

.link {
  color: #d9b08c;
}

.link:hover {
  color: #d1e8e2;
}
