$topnav-background-color: #264653;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #e0e0e0;
        }
        .nav-item > a {
            color: #d9b08c;
            &:hover {
                color: #e0e0e0;
            }
        }
    }
}
