<div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-nav mr-auto">
      <h2 class="text-muted">Earnings</h2>
    </div>
    <div class="row">
      <div class="col-xl-3">
        <button class="btn btn-dark my-2 my-sm-0" (click)="openCreateIncome()">
          <i class="fas fa-plus" aria-hidden="true"></i>
          Earning
        </button>
      </div>
    </div>
  </nav>
  <hr />
  <form [formGroup]="form">
    <div style="position: relative">
      <div class="input-group date">
        <input
          id="date"
          type="hidden"
          formControlName="date"
          ngbDatepicker
          #d="ngbDatepicker"
          required
        />
      </div>
    </div>
  </form>
  <div class="row datepicker-input">
    <div class="col-xl-3 col-label">
      <strong>Month:</strong>
    </div>
    <div class="col-info">
      <button
        class="input-group-addon btn-dark"
        (click)="d.toggle()"
        type="button"
      >
        <i class="far fa-calendar-alt" aria-hidden="true"></i>
        {{ selectedDate }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-label">
      <strong>
        Monthly Total Earnings:
      </strong>
    </div>
    <div class="col-info">{{ monthlyIncome }}</div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-label">
      <strong>
        Annual Total Earnings:
      </strong>
    </div>
    <div class="col-info">{{ annualIncome }}</div>
  </div>
  <hr />
  <app-income-list></app-income-list>
</div>
