<div [@routerTransition]>
  <h2 class="text-muted">Dashboard</h2>
  <hr />
  <form [formGroup]="form">
    <div style="position: relative">
      <div class="input-group date">
        <input
          id="date"
          type="hidden"
          formControlName="date"
          ngbDatepicker
          #d="ngbDatepicker"
          required
        />
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-xl-1 col-label">
      <strong>Month:</strong>
    </div>
    <div class="col-info col-date">
      <button
        class="input-group-addon btn-dark"
        (click)="d.toggle()"
        type="button"
      >
        <i class="far fa-calendar-alt" aria-hidden="true"></i>
        {{ selectedDate }}
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xl-3 col-label">
      <strong> Income For Current Month: </strong>
    </div>
    <div class="col-info">{{ convertToMoney(monthIncome) }}</div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-label">
      <strong> Expense For Current Month: </strong>
    </div>
    <div class="col-info">{{ convertToMoney(monthExpense) }}</div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-label">
      <strong> Annual Income: </strong>
    </div>
    <div class="col-info">{{ convertToMoney(annualIncome) }}</div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-label">
      <strong> Annual Expense: </strong>
    </div>
    <div class="col-info">{{ convertToMoney(annualExpense) }}</div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-label">
      <strong> Curent Balance: </strong>
    </div>
    <div class="col-info">
      <div [ngClass]="currentBalance < 0 ? 'text-red' : ''">
        {{ convertToMoney(currentBalance) }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-label">
      <strong> Available Money: </strong>
    </div>
    <div class="col-info">
      <div [ngClass]="availableMoney < 0 ? 'text-red' : ''">
        {{ convertToMoney(availableMoney) }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-label">
      <strong> Expectations Difference: </strong>
    </div>
    <div class="col-info">
      <div [ngClass]="delta < 0 ? 'text-red' : ''">
        {{ convertToMoney(delta) }}
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col col-table">
      <div class="card mb-3">
        <div class="card-header text-uppercase">
          <strong>Summary By Expense Type</strong>
        </div>
        <div class="card-body">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th class="text-left">Category</th>
                <th class="text-right">Budget</th>
                <th class="text-right">Actual</th>
                <th class="text-right">Difference</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let expense of dashboardData">
                <td class="text-left">
                  {{ makeEnumPretty(expense.expenseType) }}
                </td>
                <td class="text-right">
                  {{ convertToMoney(expense.budgetAmount) }}
                </td>
                <td class="text-right">
                  {{ convertToMoney(expense.actualAmount) }}
                </td>
                <td class="text-right">
                  <p [ngClass]="expense.difference < 0 ? 'text-red' : ''">
                    {{ convertToMoney(expense.difference) }}
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
