.col-table {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-label {
  flex: 0 0 33.33%;
  max-width: 300px;
}
.col-info {
  flex: 0 0 33.33%;
  max-width: 120px;
}
.col-date {
  max-width: 200px;
}
.text-red {
  color: red;
}
