<div class="modal-header">
  <h4 class="modal-title" *ngIf="estimatedExpeseId; else createNew">
    Update Estimated Expense
  </h4>
  <ng-template #createNew>
    <h4 class="modal-title">Create New Estimated Expense</h4>
  </ng-template>
  <button type="button" class="close" aria-label="Close" (click)="onDismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (submit)="onSaveEstimatedExpense()">
    <div
      tabindex="1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="false"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body mx-6">
            <div class="input-group mb-2 mr-sm-2">
              <div class="col-xl-4">
                <label>Description</label>
              </div>
              <div class="col-xl-5">
                <input
                  id="description"
                  type="text"
                  class="py-0 text-box"
                  placeholder="Description"
                  formControlName="description"
                />
              </div>
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <mat-error *ngIf="form.get('description').invalid" class="error"
                >Please enter a valid Description</mat-error
              >
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <div class="col-xl-4">
                <label>Expense Type</label>
              </div>
              <div class="col-xl-5">
                <select formControlName="expenseType" class="text-box">
                  <option
                    *ngFor="let key of keys"
                    [value]="key"
                    [label]="makeEnumPretty(expenseTypes[key])"
                  >
                    {{ makeEnumPretty(expenseTypes[key]) }}
                  </option>
                </select>
              </div>
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <mat-error *ngIf="form.get('expenseType').invalid" class="error"
                >Please enter a valid Expense Type</mat-error
              >
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <div class="col-xl-4">
                <label>Amount</label>
              </div>
              <div class="col-xl-5">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                  <input
                    type="text"
                    class="form-control"
                    id="amount"
                    placeholder="Amount"
                    formControlName="amount"
                  />
                </div>
              </div>
            </div>
            <div class="input-group mb-2 mr-sm-2">
              <mat-error *ngIf="form.get('amount').invalid" class="error"
                >Please enter a valid amount</mat-error
              >
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Save</button>
            <button type="button" class="btn btn-secondary" (click)="onClose()">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
