.modal-header {
  background-color: #fff;
}
.modal-body {
  background-color: #fff;
}
.modal-content {
  background-color: #fff;
  border: 3px solid;
}
.modal-footer {
  background-color: #fff;
}
.error {
  color: red;
}
.text-box{
  width: 100%;
}
.text-area{
  width: 100%;
  height: 100px;
  resize: none;
}
