.nav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-header {
  background-color: #2c3531;
  font: #d1e8e2;
  height: 60px;
}

.sidenav-side {
  background-color: #2c3531;
  font: #d1e8e2;
  width: 230px;
}

.sidenav-side a {
  color: #ffcb9a;
  background-color: #2c3531;
  font-size: 17px;
  width: 200px;
  margin: auto;
  border: 3px solid #ffcb9a;
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 5px;
}

.sidenav-side a:hover {
  color: #d1e8e2;
  background-color: #116466;
}

.sidenav-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-width: 230px;
  border-top: 1px solid #d9b08c;
}

.sign-out-button {
  background-color: #d9b08c;
  color: #116466;
  margin-top: 15px;
}

.btn-menu {
  color: #ffcb9a;
}

.spacer {
  flex: 1 1 auto;
}

i {
  margin: 5px;
}

.mat-toolbar {
  color: #d1e8e2;
}
