<mat-accordion
  multi="true"
  *ngIf="salaryEntries.length > 0; else noSalaryEntries"
  class="accordion md-accordion accordion-blocks"
>
  <mat-expansion-panel *ngFor="let salary of salaryEntries" class="card mb-1">
    <mat-expansion-panel-header class="card-header z-depth-1">
      <div class="container">
        <div class="d-flex">
          <div class="mr-auto col-xl-8 col-lg-6">
            <h4 class="text white-text mb-0 py-3 mt-1">
              {{ salary.description }}
            </h4>
          </div>

          <div class="mr-auto col-xl-1 col-lg-1 align-items-end">
            <h5 class="text-uppercase white-text mb-0 py-3 mt-1">
              <span class="badge badge-dark">{{
                convertToMoney(salary.amount)
              }}</span>
            </h5>
          </div>
        </div>
      </div>
    </mat-expansion-panel-header>
    <div class="card-body rgba-black-light white-text z-depth-1">
      <div>
        <h5>
          Frequency of Payment
          <span class="badge badge-info">{{
            makeEnumPretty(salary.salaryType)
          }}</span>
        </h5>
      </div>
    </div>
    <div
      class="card-body rgba-black-light white-text z-depth-1"
      *ngIf="salary.note"
    >
      <div>
        <h5>
          Note
          <span class="badge badge-info">{{ salary.note }}</span>
        </h5>
      </div>
    </div>
    <mat-action-row>
      <button
        class="btn btn-primary my-2 my-sm-0 z-depth-2 mr-1"
        (click)="edit(salary)"
      >
        Edit
      </button>
      <button
        class="btn btn-danger my-2 my-sm-0 z-depth-2"
        (click)="delete(salary)"
      >
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="salaryTotalCount"
  [pageSize]="salaryEntriesPerPage"
  (page)="onChangedPage($event)"
  [hidePageSize]="true"
  [showFirstLastButtons]="true"
></mat-paginator>
<ng-template #noSalaryEntries>
  <h3>No Data</h3>
</ng-template>
